*{
	margin:0;
	padding: 10;
}
input {
	padding: 10px 19px;
	margin-left: 5px;
	box-shadow: 2px 3px 7px red;

}
table {
	margin-top: 10%;
	margin-left:40%;
	box-shadow: 2px 5px 12px red;
	padding: 40px 10px;
}